@charset "UTF-8";

#mycontainer   { padding:20px; }
#myheader      { display: flex; min-height:100px; position: relative; top: 60px;}
#mycontent      { min-height:900px; position: relative; top:60px; padding-top: 40px;}
#myfooter      { display: flex; min-height:120px; position: relative; top:60px; background-color:#555555; margin-bottom: 70px;}
   
#myheader a {text-decoration:none;}

body {font-family: 'Noto Sans KR', sans-serif; }

ul.today_list { list-style-type: none;}

ul#secondHeaderGroup, .secondHeaderList {
		list-style-type: none;
		display: inline-block;
}

div#empInfo, div#empBirthday, div.cal {
	border: solid 1px #c9c9c9;	
	border-radius: 10px;
	padding : 5px;
	width: 320px;
}

div.left_section {
	width: 320px;
}

span.photo img {
    width: 82px;
    height: 82px;
    border-radius: 100px;
}

div.profile > span {
	display: block;
	text-align: center;
}

ul.today_list {
	text-align: left;
}

#empInfo > ul > li > a, ul#btn_list_block > li > a{
	text-decoration: none !important;
	color: black;
}

.type_simple_list .badge {
    display: inline-block;
    float: right;
    height: 12px;
    line-height: 20px;
    min-width: 14px;
    background: none!important;
    font-weight: normal;
    font-size: 13px;
    padding-right: 35px;
    border-radius: 15px;
    text-align: right;
}

div.go-gadget-content {
	display: inline-block;
	border: solid 1px #c9c9c9;
	border-radius: 5px;
	margin-top: 20px;
}

#btn_list_block > li {
	list-style-type: none;
}

ul#btn_list_block {
	margin-right: 0;
}
li.btn_list_li {
	border: solid 1px #c9c9c9;
	width: 150px;
	height: 70px;
	margin: 0 auto 10px auto;
	padding: 15px 8px;
}
li.odd {
	margin-right: 14px;
}
ul {
	list-style: none;
}
ul.type_btn_list_block {
	padding-left: 0;
}
li.odd, li.even {
	display: inline-block;
}

i#idx-icon {
    min-width: 40px;
    text-align: center;
}

div#margin_left {
	margin-left: 50px;
}

.th_all {
	height: 30px;
}
.nav-tabs {
    border-bottom:  solid 0px #dee2e6;
}

.board-tab > li {
	margin-right: 10px;
	font-size: 18px;
	font-weight: bold;
}

.board-tab > li > a, #birth_prevenext > a {
	text-decoration: none;
	color : black;
}

#all_head > tr > th {
	font-size: 16px;
	font-weight: bold;
	height : 30px;
	padding : 3px 3px;
}

#all_body > tr > td {
	font-size: 16px;
	font-weight: normal;
	height : 30px;
	padding : 5px 5px;
	border-bottom: solid 1px #dee2e6;
} 

div.go-gadget-content {
	min-height: 150px;
}

div.go_gadget_header {
    cursor: default;
    display: block;
    position: relative;
    height: 28px;
    padding: 16px 21px 4px;
    border: none;
    background: #fff;
    vertical-align: middle;
}

span#title {
    font-size: 24px;
    line-height: 27px;
    font-weight: bold;
    color: #3b3b3b;
    letter-spacing: -1px;
    padding-right: 2px;
    vertical-align: top;
}

div.birth_month {
	margin-top: 5px;
}

div#birth_prevenext {
	float: right;
}

div#birthList{
	padding-left: 21px;
}

table#todayBirthday {
	width:90%;
}

tr#birth_person{
	border-bottom: solid 1px #dee2e6;
}

td#date, td#name {
	padding-left: 21px;
}

div#calendar > table {
	width: 100%;
	text-align: center;
	display: flex;
	padding : 0 10px;
}

#calendar > div.fc-view-harness.fc-view-harness-active > div > table > tbody > tr > td > div > div > div > table > tbody {
	font-size: 12px;
}


div#input {
	display: inline-block;
}

input#chatContent {
	margin-top: 5px;
}

button#btnChat {
	margin-bottom: 5px;
}