@charset "UTF-8";
                  
#mycontent     { min-height:1200px; position: relative; top:60px; padding-top: 40px; background-color:white;
                 float:right; width:90%; padding-left: 5%}
                  
#mysideinfo      { min-height:1200px; position: fixed; top:60px; padding-top: 40px; background-color:#FFF;
                  float:left; width:250px; margin-left: 5px; }

#myfooter      { display: flex; min-height:120px; position: relative; top:60px; background-color:#555555; margin-bottom: 70px; 
                 clear:both; }
 
#myheader a    {text-decoration:none;}

body {font-family: 'Noto Sans KR', sans-serif; font-size: 18px;}

	
/* 헤더 스타일  시작 */

li.login_dropdown  { 
   list-style: none;
   display: inline-block;
}

img#memberProfile {
   max-width: 40px;
   max-height: 40px;
   border-radius: 100%;
}

ul#secondHeaderGroup, .secondHeaderList {
      list-style-type: none;
      display: inline-block;
}

  #mail_searchType, #searchWord, 
  #mail_serachWord, #mail_search,
  #btnSearch {
  	 display: inline-block;
  }	

#navbarSupportedContent > ul > li {
	margin-right: 20px;
	font-size: 18px;
}


/* 헤더 스타일  끝 */




/* =================== mail 전체 공통 서식 시작 =================== */

#secondHeader {
	display: inline-block;
}

#delTrash, #readReceive, #readSend {
	border: 0;
	background-color: white;
}

ul#secondHeaderGroup, .secondHeaderList {
	list-style-type: none;
	display: inline-block;
}
	

/* === mail 쓰기 부분 서식 (메일쓰기, 내게쓰기, 임시보관함 상세) === */	
/* 테이블 */
  table, th, td, input, textarea {border: solid #a0a0a0 0px;}
  
  #table {border-collapse: collapse;
          width: 1175px;
          }
         
  #table th, #table td{padding: 5px;}
  #table th{ 
  		background-color: #6F808A; 
  		color: white;
  }

#writeTableCss {
	border: 0px; width: 1500px;
}

#content {
	width: 1450px; border: solid 1px gray; height: 400px
}

/*버튼 */   
.buttonList {
		display: inline-block;
		list-style-type: none; 	
		size: 10px;	
}

#buttonGroup {
		padding: 0px;
		margin-top: 5px;
}

  button {
		border-radius: 3px !important;
} 

#mailListWriteCss {	
	width: 90%; margin: 10px; padding-top: 20px;	
}

/* === mail 상세내용 서식 (메일쓰기, 내게쓰기, 임시보관함 상세) === */	

#mailListDetailCss{	
	width: 90%; margin: 10px; padding-top: 20px;	
}

/* =================== mail 전체 공통 서식 끝 =================== */

 	