@charset "UTF-8";
                  
#mycontent     { min-height:1200px; position: relative; top:60px; padding-top: 40px; background-color:white;
                 float:right; width:90%; padding-left: 5%}
                  
#mysideinfo      { min-height:1200px; position: fixed; top:60px; padding-top: 40px; background-color:#FFF;
                  float:left; width:250px; margin-left: 5px; }

#myfooter      { display: flex; min-height:120px; position: relative; top:60px; background-color:#555555; margin-bottom: 70px; 
                 clear:both; }
 
#myheader a    {text-decoration:none;}

body {font-family: 'Noto Sans KR', sans-serif; }


/* 사이드바 */
/* 
.sidebar {
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: #f1f1f1;
  position: fixed;
  height: 100%;
  overflow: auto;
}

.sidebar a {
  display: block;
  color: black;
  padding: 16px;
  text-decoration: none;
}
 
.sidebar a.active {
  background-color: #80c1ff;
  color: black;
}

.sidebar a:hover:not(.active) {
  background-color: #555;
  color: white;
}

div.content {
  margin-left: 200px;
  padding: 1px 16px;
  height: 1000px;
}

@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  .sidebar a {float: left;}
  div.content {margin-left: 0;}
}

@media screen and (max-width: 400px) {
  .sidebar a {
    text-align: center;
    float: none;
  }
}





 */

/* mailList 서식 시작 */

	#secondHeader {
		display: inline-block;
	}
	
	#delTrash, #readReceive {
		border: 0;
		background-color: white;
	}
	
	ul#secondHeaderGroup, .secondHeaderList {
		list-style-type: none;
		display: inline-block;
	}
	
  #mail_searchType, #searchWord, 
  #mail_serachWord, #mail_search,
  #btnSearch {
  	 display: inline-block;
  }	





/* mailWrite 서식 시작 */



