@charset "UTF-8";
                  
#mycontent     { min-height:1200px; position: relative; top:60px; padding-top: 40px; background-color:white;
                 float:right; width:90%; padding-left: 5%}
                  
#mysideinfo      { min-height:1200px; position: fixed; top:60px; padding-top: 40px; background-color:#FFF;
                  float:left; width:250px; margin-left: 5px; }

#myfooter      { display: flex; min-height:120px; position: relative; top:60px; background-color:#555555; margin-bottom: 70px; 
                 clear:both; }
 
#myheader a    {text-decoration:none;}

body {font-family: 'Noto Sans KR', sans-serif; }



 */

/* mailReceiveList 서식 시작 */

	#secondHeader {
		display: inline-block;
	}
	
	#delTrash, #readReceive {
		border: 0;
		background-color: white;
	}
	
	ul#secondHeaderGroup, .secondHeaderList {
		list-style-type: none;
		display: inline-block;
	}
	
  #mail_searchType, #searchWord, 
  #mail_serachWord, #mail_search,
  #btnSearch {
  	 display: inline-block;
  }	





/* mailWrite 서식 시작 */



