@charset "UTF-8";
/*
body {font-family: font-family: 'Noto Sans KR', sans-serif; }
*/
#mycontainer   { padding:20px; }
#myheader      { display: flex; min-height:100px; position: relative; top: 60px; }
#mycontent      { min-height:1200px; top:60px; background-color:#FFF;
                  float:right; width:80%; padding-right:10%;}

#mysideinfo      { min-height:1200px; position: fixed; top:60px; padding-top: 40px; background-color:#FFF;
                  float:left; width:250px; }

#myfooter      { display: flex; min-height:120px; position: relative; top:60px; background-color:#555555; margin-bottom: 70px; 
                 clear:both; }
 
#myheader a {text-decoration:none;}

body {font-family: 'Noto Sans KR', sans-serif; }

/* 헤더 스타일  시작 */

#myheader > nav > div:nth-child(4) {
	font-size: 18px;
}

li.login_dropdown  { 
	list-style: none;
	display: inline-block;
}

img#memberProfile {
	max-width: 40px;
	max-height: 40px;
	border-radius: 100%;
}

ul#secondHeaderGroup, .secondHeaderList {
		list-style-type: none;
		display: inline-block;
}

#navbarSupportedContent > ul > li {
	margin-right: 20px;
	font-size: 18px;
}

/* 헤더 스타일  끝 */


/* 사원 스타일 시작 */

img#empProfile {
	max-width: 150px;
	max-height: 150px;
	border-radius: 100%;
	margin-bottom: 15px;
}

#tbl_regEmp > table > tbody > tr {
	margin-bottom: 5px;
}

#tblEmpRegister > tbody > tr {
	
}

select#hp1 {
	width: 54px;
}

span#isExistIdCheck {
	margin-left: 10px;
	border: solid 1px #c9c9c9;
	border-radius: 5%;
}

div#tbl_regEmp {
	padding-left: 20%;
}
#att_searchType, #searchType, 
 #searchWord, #btnSearch {
 	 display: inline;
 }	
/* 사원 스타일 끝 */