@charset "UTF-8";

body {
	font-family: Arial, Helvetica, sans-serif, 돋움;
}

#mycontainer {
	padding: 20px;
}

#myheader {
	display: flex;
	min-height: 100px;
	position: relative;
	top: 60px;
}

#sideinfo_edms {
	min-height: 1200px;
	position: relative;
	top: 60px;
	padding-top: 40px;
	background-color: #fff;
	float: left;
	width: 20%;
}

#mycontent {
	min-height: 1200px;
	position: relative;
	top: 60px;
	padding-top: 40px;
	background-color: #fff;
	float: right;
	width: 80%;
}

#myfooter {
	display: flex;
	min-height: 120px;
	position: relative;
	top: 60px;
	background-color: #fff;
	margin-bottom: 70px;
	clear: both;
}

#myheader a {
	text-decoration: none;
}